


@font-face{
	font-family:'MetaWeb';
	src: url(./MetaWeb-Book.eot?);
	src: local('?'),
	     url(./MetaWeb-Book.eot?) format('eot'),
 	     url(./MetaWeb-Book.woff) format('woff');
}

@font-face{
	font-family:'MetaWeb';
	src: url(./MetaWeb-BookIta.eot);
	src: local('?'),
	     url(./MetaWeb-BookIta.eot?) format('eot'),
	     url(./MetaWeb-BookIta.woff) format('woff');
	font-weight:normal;
	font-style:italic;
}

@font-face{
	font-family:'MetaWeb';
	src: url(./MetaWeb-Bold.eot);
	src: local('?'),
	     url(./MetaWeb-Bold.eot?) format('eot'),
	     url(./MetaWeb-Bold.woff) format('woff');
	font-weight:bold;
	font-style:normal;
}

@font-face{
	font-family:'MetaSerifWeb';
	src: url(./MetaSerifWeb-Bold.eot);
	src: local('?'),
	     url(./MetaSerifWeb-Bold.eot?) format('eot'),
	     url(./MetaSerifWeb-Bold.woff) format('woff');
	font-weight:bold;
	font-style:normal;
}

@font-face{
	font-family:'MyriadWebProRegular';
	src: url(./myriad-web-pro-webfont.eot?);
	src: local('?'),
	     url(./myriad-web-pro-webfont.eot?#iefix) format('eot'),
	     url(./myriad-web-pro-webfont.woff) format('woff');
}