
/* ---------------------------------------------------------

	UvA DARE 
	Main CSS (Desktop + Mobile)
	Based on http://static.uva.nl/css/style.css?1.21.03

--------------------------------------------------------- */

.show-only-mobile {
	display: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
body {
    background-color: #dbdbdb;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
}
body, button, input, select, textarea {
    color: #231f20;
    font-family: "MetaWeb",Arial,sans-serif;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #999;
    color: #fff;
    text-shadow: none;
}
a:link {
}
a {
    color: #999;
    outline: medium none;
    text-decoration: underline;
}
a:visited {
    color: #666;
}
a:hover, a:focus {
    color: #bc0031;
}
a:focus {
}
a:hover, a:active {
    outline: 0 none;
}

a.list {
	background: url("../img/list_arrow_purple.png") no-repeat;
	white-space: nowrap;
	padding-left: 12px;
}	

abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 20px 0 20px 15px;
}
i, em, dfn {
    font-style: italic;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdbdb -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 2px 0 0;
    display: block;
    height: 1px;
    margin: 15px 0;
    padding: 0;
}
.columns > hr {
    margin: 0 15px;
}
ins {
    background: none repeat scroll 0 0 #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
h1, h2, h3, h4, p {
    margin: 0 0 6px;
}
p {
    max-width: 680px;
}
pre, code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 85%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 1em 0 1em 20px;
}
dd {
    margin: 0;
}
dl {
    margin: 6px 0;
}
ul {
    list-style-image: url("../img/ul.png");
}
ol {
    counter-reset: ol;
}
ol > li:before {
    color: #999;
    content: counter(ol, decimal);
    counter-increment: ol;
    display: inline-block;
    font-weight: bold;
    margin-left: -23px;
    padding-right: 3px;
    text-align: right;
    width: 20px;
}
ul > li, ol > li {
    margin-bottom: 6px;
}
nav ul > li, nav ol > li, .linklist > li, .filter > li, .searchlist > li, .orglist > li, .ui-tabs-nav > li {
    margin-bottom: 0;
}
nav ul, nav ol, .linklist, .filter, .searchlist, .orglist, .ui-tabs-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.strong {
    font-weight: bold;
}
img {
    border: 0 none;
    vertical-align: middle;
}
img#cover {
    border: 2px solid #dbdbdb;
    vertical-align: middle;
    max-height: 180px;
    max-width: 130px;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
fieldset ~ fieldset, .form-item ~ fieldset {
    margin-top: 19px;
}
label {
    cursor: pointer;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
table button, table input {
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}
input[type="search"] {
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.table-wrapper {
    margin-bottom: 30px;
}
td, th {
    border-bottom: 2px solid #dbdbdb;
    padding: 5px 0;
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, blockquote p, legend {
    font-weight: bold;
}
h1, h2, blockquote p {
    font-family: "MetaSerifWeb",Arial,serif;
}
h1 {
    font-size: 34px;
    line-height: 1.5em;
}
h2 {
    font-size: 26px;
    line-height: 26px;
}

h3, .subheading, .megaitem > a, legend {
    font-size: 18px;
    line-height: 20px;
}
.intro {
    font-size: 17px;
}
h3.subheading {
    margin-top: 0;
}
h3 {
    margin-top: 20px;
}
h4 {
    font-size: 1em;
    margin-top: 15px;
}
h1.capitalized:first-letter, h2.capitalized:first-letter {
    text-transform: capitalize;
}
.inner-spacer {
    padding: 15px;
}
.inner-spacer > *:first-child {
    margin-top: 0;
}
.inner-spacer > *:last-child {
    margin-bottom: 0;
}
.top-spacer {
    margin-top: 25px;
}
.label {
    font-weight: bold;
}
.meta, .meta-block, .feature, dt {
    color: #999;
}
.meta-block {
    display: block;
}
dd {
    margin-bottom: 6px;
}
blockquote p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 4px;
}
blockquote p:before, blockquote p:after {
    color: #bc0031;
    font-size: 28px;
}
blockquote p:before {
    content: "â€œ";
    margin-left: -15px;
}
blockquote p:after {
    content: "â€�";
}
.left-align {
    float: left;
    margin-bottom: 5px;
    margin-right: 15px;
}
.right-align {
    float: right;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: right;
}
article img {
    display: block;
    margin-bottom: 6px;
    margin-top: 3px;
}
td.right-align, th.right-align {
    float: none;
}
.filter a, nav a {
    color: #231f20;
    text-decoration: none;
}
a.icon-arrow, .linklist li > a, .linklist li > span {
    background: url("../img/list_arrow.png") no-repeat scroll 0 3px transparent;
    color: #231f20;
    display: block;
    padding-left: 15px;
    text-decoration: none;
}
.linklist li > a, .linklist li > span {
    padding-bottom: 6px;
}
.linklist .last-item > a {
    padding-bottom: 0;
}
a.icon-arrow:hover, a.icon-arrow:focus, .linklist li.current > span, .linklist li.current > a, .linklist li > a:hover, .linklist li > a:focus, .linklist li > a.more:hover, .linklist li > a.more:focus {
    background-image: url("../img/list_arrow_purple.png");
    color: #bc0031;
}
.linklist.strong li > a {
    background-image: url("../img/list_arrow_purple.png");
}
.linklist li > a.more {
    background-image: url("../img/list_arrow_purple.png");
}
.linklist li > a.back {
    background-image: url("../img/list_arrow_back.png");
}
.linklist li > a.back:hover, .linklist li > a.back:focus {
    background-image: url("../img/list_arrow_back_purple.png");
    color: #bc0031;
}
.linklist li > a.icon-download {
    background-image: url("../img/list_download.png");
}
.linklist li > a.icon-download:hover, .linklist li > a.icon-download:focus, .linklist.strong li > a.icon-download {
    background-image: url("../img/list_download_purple.png");
}
.linklist li > a.icon-anchor {
    background-image: url("../img/list_anchor.png");
}
.linklist li > a.icon-anchor:hover, .linklist li > a.icon-anchor:focus {
    background-image: url("../img/list_anchor_purple.png");
}
.linklist li.current > span.open, .linklist li > a.open, .linklist li > a.open:hover, .linklist li > a.open:focus {
    background-image: url("../img/list_arrow_down_purple.png");
    background-position: 0 6px;
    color: #bc0031;
}
.linklist li > a.back, .linklist li > a.more {
    color: #231f20;
    font-weight: bold;
}
.linklist .linklist {
    margin-left: 15px;
}
.linklist .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.linklist .description {
    color: #666;
    display: block;
}
.linklist.extensive {
    border-bottom: 2px solid #ededed;
}
.linklist.extensive li {
    border-top: 2px solid #ededed;
}
.linklist.extensive a {
    background-position: 0 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.linklist.half {
    float: left;
    width: 50%;
}

textarea, input[type="text"] {
    background-color: #dbdbdb;
    border: 2px solid #dbdbdb;
    padding: 0 10px;
    width: 178px;
}
input[type="search"], input[type="text"] {
    height: 26px;
}
textarea {
    height: 76px;
}
input[type="search"] {
    background-color: #999;
    border: 2px solid #999;
    color: #fff;
    padding: 0 10px;
}
textarea:focus, input[type="text"]:focus {
    border: 2px solid #999;
    outline: 0 none;
}
input[type="search"]:focus {
    outline: thin auto #333;
}
.form-with-submit input[type="text"] {
    width: 148px;
}
.form-with-submit input[type="submit"] {
    background: url("../img/call_to_action_white_small.png") no-repeat scroll 8px 6px #999;
    border: 0 none;
    height: 30px;
    text-indent: -999px;
    width: 30px;
}
.search-box {
    position: relative;
    width: 202px;
}
.search-box input[type="search"] {
    padding-right: 30px;
}
#search input[type="submit"], .search-box input[type="submit"] {
    background: url("../img/search.png") no-repeat scroll 8px 5px #999;
    border: 0 none;
    height: 28px;
    position: absolute;
    right: 1px;
    text-indent: -9999px;
    top: 1px;
    width: 30px;
}
.search-box.with-label {
    margin-left: 144px;
    width: 290px;
}
.search-box.with-label input[type="search"] {
    width: 245px;
}
.search-box.with-label label > span {
    display: inline-block;
    left: -144px;
    position: absolute;
    top: 5px;
}
.select-wrapper {
    border: 4px solid #dbdbdb;
    display: inline-block;
}
select {
    width: 208px;
    padding: 5px;
}
legend {
    margin-bottom: 4px;
}
.form-item {
    clear: both;
    margin: 4px 0 4px 15px;
}
.form-item input[type="text"], .form-item textarea {
    width: 193px;
}
.form-item-hint {
    width: 187px;
}
.required-label, .required > label:before {
    color: #bc0031;
    content: "*";
    display: inline-block;
    margin-left: -15px;
    position: relative;
    top: 4px;
    width: 15px;
}
.required-label {
    margin: 0;
    width: auto;
}
.form-item label, .form-item .form-right {
    display: block;
    float: left;
    width: 206px;
}
.form-item .form-right {
    width: 216px;
}
.form-item .form-inline {
    display: inline;
    float: none;
    margin: 0 20px 0 5px;
    padding: 0;
}
.radio-other {
    line-height: 30px;
}
.radio-other .form-inline {
    margin-right: 0;
}
.radio-other input[type="text"] {
    float: right;
    width: 100px;
}
.form-item > label, .form-item .form-input {
    margin: 5px 0;
}
.form-item .form-input {
    padding-left: 20px;
}
.form-item .form-input input[type="radio"]:first-child, .form-item .form-input input[type="checkbox"]:first-child {
    margin-left: -20px;
    margin-right: 0;
    padding: 1px;
}
input.ui-state-error[type="text"], textarea.ui-state-error {
    border: 2px solid #bc0031;
}
select.ui-state-error, input.ui-state-error[type="checkbox"], input.ui-state-error[type="radio"] {
    outline: 2px solid #bc0031;
}
.error-message {
    color: #bc0031;
    display: none;
    margin: 6px 0;
}
button, a.call-to-action-button {
    background: url("../img/button_purple.png") repeat-x scroll 0 0 #bc0031;
    border: 0 none;
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 6px 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
button.second, a.call-to-action-button.second {
    background-color: #999;
    background-image: url("../img/button_gray.png");
}
button:hover, a.call-to-action-button:hover {
    background: none repeat scroll 0 0 #90003e;
}
button:disabled {
    background: none repeat scroll 0 0 #dfdfdf;
}
button .button-icon, a.call-to-action-button .button-icon {
    background-repeat: no-repeat;
    bottom: 7px;
    display: block;
    height: 17px;
    left: 9px;
    position: absolute;
    width: 14px;
}
button .icon-important, a.call-to-action-button .icon-important {
    background-image: url("../img/call_to_action_white_small.png");
}
button .icon-download, a.call-to-action-button .icon-download {
    background-image: url("../img/download_white_small.png");
}
button .button-text, a.call-to-action-button .button-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
button.with-icon .button-text, a.with-icon .button-text {
    padding-left: 35px;
}
button.call-to-action, a.call-to-action-button {
    text-align: left;
    width: 202px;
}
button.call-to-action .button-text, a.call-to-action-button .button-text {
    display: inline-block;
    height: 24px;
    overflow: hidden;
    padding-right: 0;
}
a.call-to-action {
    background: url("../img/call_to_action_purple.png") no-repeat scroll 0 0 transparent;
    color: #bc0031;
    display: inline-block;
    font-weight: bold;
    margin: 6px 0;
    padding-bottom: 4px;
    padding-left: 38px;
    padding-top: 6px;
    text-decoration: none;
    width: 164px;
}
a.call-to-action.second {
    background-image: url("../img/call_to_action_gray_small.png");
    background-position: 11px 6px;
    color: #999;
}
a.call-to-action.fluid-width {
    display: block;
    width: auto;
}
a.call-to-action.right-align {
    background-position: right 0;
    padding-left: 0;
    padding-right: 38px;
}
a.call-to-action:hover, a.call-to-action.second:hover {
    background-image: url("../img/call_to_action_purple_hover.png");
    color: #bc0031;
}
a.call-to-action.second.icon-download:hover, a.call-to-action.second:hover {
    background-position: 0 0;
}
a.call-to-action.icon-download {
    background-image: url("../img/download.png");
}
a.call-to-action.icon-download:hover, a.call-to-action.second.icon-download:hover {
    background-image: url("../img/download_hover.png");
}
a.call-to-action.second.icon-download {
    background-image: url("../img/download_gray_small.png");
    background-position: 8px 8px;
}
button.square {
    background: url("../img/call_to_action_white_small.png") no-repeat scroll 8px 6px #999;
    border-radius: 0;
    margin-left: -3px;
    position: relative;
    top: -4px;
    width: 30px;
}
button.square .search {
    background-image: url("../img/search.png");
}

body > header {
    background-color: #fff;
}
#topheader {
    padding-top: 10px;
}
#logo {
    display: block;
    line-height: 20px;
    margin-left: 15px;
    margin-top: 20px;
}
#search {
    height: 30px;
}
#search .search-box {
    width: auto;
}
#search input[type="search"] {
    padding-right: 45px;
    width: 173px;
}
#search.sections input[type="search"] {
    background-image: url("../img/list_arrow_down_black.png");
    background-position: 188px 10px;
    background-repeat: no-repeat;
}
#search.jsFocus input[type="search"] {
    box-shadow: 0 0 10px #666;
    outline: 0 none;
}
#search.sections.jsFocus input[type="search"] {
    background-image: url("../img/list_arrow_down_gray.png");
}
#search .search-popup {
    background-color: #fff;
    box-shadow: 0 2px 10px #666;
    display: none;
    position: absolute;
    right: 2px;
    top: 40px;
    width: 232px;
    z-index: 2;
}
#search.jsFocus .search-popup {
    display: block;
}
.search-popup .search-choice {
    background-color: #dbdbdb;
    padding: 10px 15px;
}
.bibliosearch-link {
    display: none;
    margin-top: 10px;
}
#topheadernav {
    min-height: 20px;
    padding-bottom: 10px;
    text-align: right;
}
#topheadernav li {
    display: inline;
}
#topheadernav a {
    margin-bottom: 0;
    margin-left: 20px;
}


.stats {
    background: #f6f6f6;
    margin: 1em 0;
    overflow: auto;
    padding: 10px;
}

	.stats dt {
		float: left;
		clear: left;
		width: 20em;
		max-width: 100%;	
		margin-bottom: 6px;
		overflow: hidden;
	}
	
	.stats dd {
		float: left;
		margin-bottom: 6px;
		width: 6em;
		text-align: right;
	}



.recentpub a {
	display: block;
	border-top: solid 2px #dbdbdb;
	padding: 10px 0;
	text-decoration: none;
}

.recentpub a h4 {
	color: #231f20;
}	

.recentpub a:hover, .recentpub a:hover h4 {
	color: #bc0031;
}

.recentpub .author {
	color: #999;
	font-weight: bold;
}

.recentpub div.preview {
	display: block;
	padding: 10px 0;
	text-align: center;
	background-color: #ccc;
}

.recentpub a img {
	width: 50%;
	max-width: 200px;
}

.filter-group input[type="search"] {
    width: 158px;
}
.filter-group {
    border-top: 2px solid #ededed;
    padding: 15px 0;
}
article .filter-group {
    border-bottom: 2px solid #ededed;
    margin-bottom: 15px;
}
.filter-group h4 {
    margin-top: 0;
}
.filter li > a {
    color: #231f20;
    display: block;
    padding-bottom: 4px;
    padding-left: 23px;
    position: relative;
}
.filter li > a.selected, .filter li > a.selected span.meta, .filter li > a:hover span.meta {
    color: #bc0031;
}
.filter li > a:before {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a5a5a6;
    content: "";
    display: block;
    height: 13px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 13px;
}
.filter li > a.selected:before {
    background: url("../gfx/filter_check.gif") no-repeat scroll -1px -1px #bc0031;
    border-color: #bc0031;
}
.filter li > a:hover:before {
    border-color: #bc0031;
}
.filter li > a span.meta {
    display: inline-block;
}
.filter li > a:hover {
    color: #bc0031;
}






#breadcrumb {
    background-color: rgba(0, 0, 0, 0.4);
    height: 35px;
    overflow: hidden;
}
#breadcrumb ul {
    padding: 0 17px;
}
#breadcrumb li {
    color: #fff;
    float: left;
    line-height: 35px;
}
#breadcrumb a {
    color: #fff;
}
#breadcrumb a:hover, #breadcrumb a:focus {
    text-decoration: underline;
}
#breadcrumb li:after {
    content: "/";
    padding: 0 5px;
}
#breadcrumb li.current:after {
    content: "";
}
#subheader {
    position: static;
}
#subheader .sixteen {
    bottom: 0;
    position: absolute;
}
#subheader .inner-spacer {
    background-color: #fff;
}


/* black bar across entire screen */
#megadropdown {
    background-color: #333;
    height: 50px;
    overflow: hidden;
}

	#megadropdown h2 {
	    font-weight: normal;
	    color: #D5D5D5;
	    line-height: 52px;
	    margin: 0 0 0 18px;
	}
	
		#megadropdown h2 em {
			/*color: white;*/
			font-style: normal;
		}

#megadropdown .megalist > li > a {
    display: block;
    line-height: 50px;
    padding: 0 15px;
}
#megadropdown .megalist > li > a.back {
    background: url("../img/list_arrow_back.png") no-repeat scroll 15px 18px transparent;
    color: #999;
    padding-left: 30px;
}
#megadropdown .megalist > li.login {
    float: right;
}
#megadropdown .megalist > li > a.login {
    background: url("../img/list_arrow.png") no-repeat scroll 15px 18px transparent;
    color: #999;
    padding-left: 30px;
}
#megadropdown .megaitem > a {
    color: #fff;
    font-weight: bold;
}
#megadropdown .megaitem > a.current {
    background-color: #000;
}
#megadropdown .megaitem:hover > a, #megadropdown .megaitem > a.hover, #megadropdown .megaitem > a:focus, #megadropdown .megaitem.jsFocus > a {
    background-color: #bc0031;
}
#megadropdown .megalist {
    position: relative;
}
#megadropdown .megalist > li {
    float: left;
}
#megadropdown .menu {
    background-color: #fff;
    box-shadow: 0 5px 5px #666;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 9999;
}
.no-js #megadropdown .megaitem:hover .menu, #megadropdown .megaitem.jsFocus .menu {
    display: block;
}
#megadropdown .menu .four {
    height: 300px;
}
#megadropdown .menu.disciplines .four {
    height: 415px;
}
#megadropdown .menu .four:hover {
    background-color: #ededed;
}
#megadropdown .menu .megaheader {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

#submenu li {
    float: left;
    font-weight: bold;
    margin-right: 20px;
}
#submenu li.current a, .highlight {
    color: #bc0031;
}


#topheader .dropdownmenu .menu .shadow-hide {
    background-color: #fff;
    height: 11px;
    position: absolute;
    top: -6px;
}
#topheader .dropdownmenu.first, #topheader .dropdownmenu.first .menu .shadow-hide {
    width: 110px;
}
#topheader .dropdownmenu.last, #topheader .dropdownmenu.last .menu .shadow-hide {
    right: 0;
    width: 122px;
}
#topheader .dropdownmenu.last > span {
    padding-left: 8px;
}
.no-js .dropdownmenu:hover, .dropdownmenu.jsFocus, .dropdownmenu:focus {
    box-shadow: 0 0 5px #666;
    outline: 0 none;
    transition: box-shadow 0.3s linear 0s;
    z-index: 99;
}
#topheader .menu {
    padding-top: 6px;
    width: 232px;
}
#topheader .first .menu {
    left: 0;
}
#topheader .last .menu {
    right: 0;
}

.center {
    display: table-cell;
    vertical-align: middle;
}



#social-strip {
    background-color: #fff;
    color: #999;
    position: relative;
}
#social-strip .text-print, #social-strip .text-share {
    padding-right: 10px;
}
#social-strip .text-print {
    padding-left: 10px;
}
#social-strip a {
    display: inline;
    font-size: 20px;
    padding-left: 25px;
}


#main {
    background-color: #dbdbdb;
    position: relative;
}
#main .background {
    background: none no-repeat scroll 50% 50% transparent;
}
.image {
    color: #fff;
    height: 220px;
}
.image.white {
    color: #231f20;
}
.image.black h2 {
    color: #231f20;
}
.black, .black blockquote > p:before, .black blockquote > p:after, .black .meta-block {
    background-color: #231f20;
    color: #fff;
}
.red, .red blockquote > p:before, .red blockquote > p:after, .red .meta-block {
    background-color: #bc0031;
    color: #fff;
}
.white {
    background-color: #fff;
}
.lightgreen, .lightgreen blockquote > p:before, .lightgreen blockquote > p:after, .lightgreen .meta-block {
    background-color: #beb511;
    color: #fff;
}
.green, .green blockquote > p:before, .green blockquote > p:after, .green .meta-block {
    background-color: #257835;
    color: #fff;
}
.blue, .blue blockquote > p:before, .blue blockquote > p:after, .blue .meta-block {
    background-color: #264e92;
    color: #fff;
}
.darkred, .darkred blockquote > p:before, .darkred blockquote > p:after, .darkred .meta-block {
    background-color: #90003e;
    color: #fff;
}
.black .source, .red .source, .lightgreen .source, .green .source, .darkred .source {
    font-weight: bold;
}
footer {
    color: #666;
    padding: 15px 0;
}




footer .linklist li > a {
    color: #666;
}
#copyright {
    margin-top: 20px;
}
#copyright .inner-spacer > span, #copyright .inner-spacer > a {
    color: #898989;
    display: inline-block;
    margin-right: 15px;
    padding: 10px 0;
    text-decoration: none;
}

	@media only screen and (min-width: 768px) {
		
		#copyright .inner-spacer > span.toggle-mobile {
		    display: none;
		}
	}

#copyright a:hover, #copyright a:focus {
    color: #bc0031;
}
#copyright .inner-spacer {
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    width: inherit;
}
#copyright img {
    float: right;
}


#cookie-bar {
    background-color: #333;
    bottom: 0;
    display: none;
    height: 50px;
    left: 0;
    opacity: 0.7;
    position: fixed;
    right: 0;
    z-index: 999999;
}
#cookie-bar .container, #cookie-bar .close {
    color: #fff;
    font-weight: bold;
}
#cookie-bar.active {
    display: block;
}
#cookie-bar a {
    background: url("../img/list_arrow_white.png") no-repeat scroll 0 4px transparent;
    color: #fff;
    padding-left: 15px;
    text-decoration: none;
}
#cookie-bar a:hover {
    text-decoration: underline;
}
#cookie-bar a.close {
    background-image: url("../img/close_white.png");
    background-position: right 4px;
    display: block;
    padding-right: 17px;
    width: 180px;
}



.modal-overlay {
    display: none;
}
html.state-modal, html.state-modal body {
    display: block;
    overflow: hidden;
}
html.state-modal .modal-overlay {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.4;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99998;
}

.icon {
    background: none no-repeat scroll 0 0 transparent;
    display: inline-block;
    padding-left: 25px;
}
.icon.right-align {
    background-position: 100% 0;
    padding-left: 0;
    padding-right: 25px;
}
li a.list-icon {
    background-position: left top;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-top: 2px;
    position: relative;
    top: -3px;
}
.linklist .icon-email, .icon-email {
    background-image: url("../img/email.png");
}
.linklist .icon-email:hover, .linklist .icon-email:focus, .icon-email:hover, .icon-email:focus {
    background-image: url("../img/email_purple.png");
}
.linklist .icon-facebook, .icon-facebook {
    background-image: url("../img/facebook.png");
}
.linklist .icon-facebook:hover, .linklist .icon-facebook:focus, .icon-facebook:hover, .icon-facebook:focus {
    background-image: url("../img/facebook_purple.png");
}
.linklist .icon-linkedin, .icon-linkedin {
    background-image: url("../img/linkedin.png");
}
.linklist .icon-linkedin:hover, .linklist .icon-linkedin:focus, .icon-linkedin:hover, .icon-linkedin:focus {
    background-image: url("../img/linkedin_purple.png");
}
.linklist .icon-plus, .icon-plus {
    background-image: url("../img/plus.png");
}
.linklist .icon-plus:hover, .linklist .icon-plus:focus, .icon-plus:hover, .icon-plus:focus {
    background-image: url("../img/plus_purple.png");
}
.linklist .icon-print, .icon-print {
    background-image: url("../img/print.png");
}
.linklist .icon-print:hover, .linklist .icon-print:focus, .icon-print:hover, .icon-print:focus {
    background-image: url("../img/print_purple.png");
}
.linklist .icon-rss, .icon-rss {
    background-image: url("../img/rss.png");
}
.linklist .icon-rss:hover, .linklist .icon-rss:focus, .icon-rss:hover, .icon-rss:focus {
    background-image: url("../img/rss_purple.png");
}
.linklist .icon-send, .icon-send {
    background-image: url("../img/send.png");
}
.linklist .icon-send:hover, .linklist .icon-send:focus, .icon-send:hover, .icon-send:focus {
    background-image: url("../img/send_purple.png");
}
.linklist .icon-twitter, .icon-twitter {
    background-image: url("../img/twitter.png");
}
.linklist .icon-twitter:hover, .linklist .icon-twitter:focus, .icon-twitter:hover, .icon-twitter:focus {
    background-image: url("../img/twitter_purple.png");
}
.linklist .icon-website, .icon-website {
    background-image: url("../img/icon-website.png");
}
.linklist .icon-website:hover, .linklist .icon-website:focus, .icon-website:hover, .icon-website:focus {
    background-image: url("../img/icon-website_purple.png");
}
.linklist .icon-blog, .icon-blog {
    background-image: url("../img/icon-blog.png");
}
.linklist .icon-blog:hover, .linklist .icon-blog:focus, .icon-blog:hover, .icon-blog:focus {
    background-image: url("../img/icon-blog_purple.png");
}
.linklist .icon-flickr, .icon-flickr {
    background-image: url("../img/icon-flickr.png");
}
.linklist .icon-flickr:hover, .linklist .icon-flickr:focus, .icon-flickr:hover, .icon-flickr:focus {
    background-image: url("../img/icon-flickr_purple.png");
}
.icon-globe {
    background-image: url("../img/globe.png");
}


a span.external {
    background: url("../img/icons/external-page-icon-grey.png") no-repeat scroll 100% 2px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 10px;
    width: 9px;
}
a:hover span.external {
    background: url("../img/icons/external-page-icon-red.png") no-repeat scroll 100% 2px rgba(0, 0, 0, 0);
}
h3 span.lock, a span.lock {
    background: url("../img/icons/lock_black.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    margin: -2px 2px;
    width: 16px;
}
.quicknav a span.lock {
    left: auto;
    position: absolute;
    right: 5px;
    top: 5px;
}
.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.columns {
    display: inline;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}
.row {
    margin-bottom: 4px;
}
.columns.alpha {
    margin-left: 0;
}
.columns.omega {
    margin-right: 0;
}
.container .columns.third {
    width: 33%;
}
.container .columns.half {
    width: 50%;
}
.container {
    width: 944px;
}
.container .four.columns {
    width: 232px;
}
.container .eight.columns {
    width: 468px;
}
.container .twelve.columns {
    width: 704px;
}
.container .sixteen.columns {
    width: 940px;
}
.container .offset-by-eight {
    padding-left: 472px;
}

/* column backgrounds (white) */
.layout-2-1-1 {
    background-image: url("../img/columns_2-1-1.png");
}
.layout-1-2-1 {
    background-image: url("../img/columns_1-2-1.png");
}
.layout-1-1-2 {
    background-image: url("../img/columns_1-1-2.png");
}
.layout-1-1-1-1 {
    background-image: url("../img/columns_1-1-1-1.png");
}
.layout-1-3 {
    background-image: url("../img/columns_1-3.png");
}
.layout-3-1 {
    background-image: url("../img/columns_3-1.png");
}
.layout-2-2 {
    background-image: url("../img/columns_2-2.png");
}
.layout-4 {
    background-image: url("../img/columns_4.png");
}



.equal-height {
    background-position: 2px 0;
    background-repeat: repeat-y;
    margin-top: 4px;
}
.equal-height > .columns {
    background-color: #fff;
}
.equal-height .with-border .inner-spacer {
    border-bottom: 4px solid #dbdbdb;
}
.equal-height .with-border .inner-spacer:last-child {
    margin-bottom: -4px;
}
#main, body > footer, body > header {
    min-width: 960px;
}

/*
#home .first-row {
    padding-top: 30px;
}
#home .first-row .columns {
    height: 260px;
}
#home .first-row .actionblock {
    min-height: 200px;
    padding-bottom: 45px;
}
#home .second-row .columns {
    padding-top: 85px;
}
#proj_home .first-row .columns {
    padding-top: 160px;
}
#proj_home .second-row .columns, #biblio .second-row .columns {
    min-height: 10px;
    padding-top: 125px;
}
#biblio .first-row {
    padding-top: 77px;
}
*/

/*
.full-background .second-row .inner-spacer {
    height: 220px;
}
.full-background .third-row {
    height: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.full-background .background {
    left: 0;
    position: absolute;
    right: 0;
}
.full-background .actionblock {
    padding-bottom: 15px;
}
.full-background #main, .full-background .background {
    min-height: 735px;
}
.full-background #main .columns {
    margin-left: 10px;
    margin-right: 10px;
}
.full-background #main .columns.alpha {
    margin-left: 0;
}
.full-background #main .columns.omega {
    margin-right: 0;
}
.full-background #main .container {
    width: 960px;
}
.full-background #main .four.columns {
    width: 220px;
}
.full-background #main .eight.columns {
    width: 460px;
}
.full-background #main .offset-by-eight {
    padding-left: 480px;
}
.small-background .background {
    height: 140px;
}
*/

.bibliosearch {
}

.bibliosearch .search-box {
    width: auto;
}
.bibliosearch label {
    line-height: 34px;
    margin-left: 15px;
}
.bibliosearch input[type="radio"] {
    margin-right: 5px;
}
.biblio-menu {
    margin-top: 4px;
}
.background {
    height: 250px;
    position: relative;
}

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.clearfix {
}

/* --------------------------------------------------------------------------------- */
@media print {
	
	* {
	    background: none repeat scroll 0 0 transparent !important;
	    color: black !important;
	    filter: none !important;
	    text-shadow: none !important;
	}
	a, a:visited {
	    text-decoration: underline;
	}
	a[href]:after {
	    content: "";
	}
	abbr[title]:after {
	    content: " (" attr(title) ")";
	}
	#breadcrumb a[href]:after, a#logo:after, .ir a[href]:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	    content: "";
	}
	pre {
	    border: 1px solid #999;
	    page-break-inside: avoid;
	}
	thead {
	    display: table-header-group;
	}
	tr, img {
	    page-break-inside: avoid;
	}
	img {
	    max-width: 100% !important;
	}
	@page {
	    margin: 0.5cm 2.5cm;
	}
	p, h2, h3 {
	    orphans: 3;
	    widows: 3;
	}
	h2, h3 {
	    page-break-after: avoid;
	}
	body {
	    font-family: Arial,sans-serif;
	}
	h1, h2, blockquote p {
	    font-family: Arial,serif;
	}
	.button-text {
	    color: black !important;
	}
	#breadcrumb {
	    border-top: 1px solid #999;
	}
	.inner-spacer {
	    border: 1px solid #999;
	    margin-bottom: 1em;
	}
	article.inner-spacer, article .inner-spacer {
	    border: 0 none;
	    margin: 0;
	}
	.background {
	    height: auto;
	}
	#search, #cookie-bar, #topheadernav, #megadropdown, #social-strip, #submenu, #subheader, #topheader .dropdownmenu, body > footer, aside {
	    display: none !important;
	}
	#logo {
	    margin-bottom: 20px;
	}
	.container, .container .four.columns, .container .eight.columns, .container .twelve.columns {
	    margin: 0 !important;
	    width: 750px !important;
	}
}



/* LOCAL ---------------------------------------------------------------------- */

.result {
	display: block;
	border-bottom: 2px solid #ededed;
	border-top: 2px solid #ededed;
    padding: 15px 10px;
    margin: 0 -10px;
    text-decoration: none;
}

	.result + .result { border-top: none; }

	.result:hover {
		background-color: #eee;
	}

	.result .addto {
		float: left;
		margin-right: 10px;
	}		

	.result .doctitle {
		color: #666;
		text-decoration: none;
		word-wrap: break-word;
	}


	.result .doctitle::first-line {
		font-weight: bold;
		color: #333;
	}

		.result:hover .doctitle::first-line {
			color: #bc0031;
		}

	.result .number { display: none; }

	.result .oalogo {
	    float: right;
	    height: 30px;
	    margin: 0 0 10px 10px;
	}
	
	.result .doi {
        text-decoration: underline;
    }
	

.navigation {
}

	.navigation .sort {
		text-align: right;
		background: #eee;
		padding: 10px;
		margin-bottom: 10px;
	}
	
		.navigation .sort select, .navigation .sort input {
			height: 30px;
		}
	
	.navigation .pont {
		padding: 15px 0;
		text-align: center;
	}
	
	.navigation .pagename {
		display: none;
	}
	
	.navigation .curpage {
	    background: #aaa none repeat scroll 0 0;
	    color: #fff;
	    padding: 3px 5px;
	}	

	.navigation .query .label {
		float: left;
		margin-right: .3em;
	}

.pont {
	overflow: auto;
}

	.pont a {
		text-decoration: none;
		color: #231f20;
		padding: 0 5px;
	}

	.pont span {
		color: #aaa;
		padding: 0 5px;
	}

	.pont a:hover, .pont a:active {
		color: #bc0031;
	}

	.pont .volgende {
		float: right;
		background: url(../img/list_arrow.png) no-repeat right center;
		padding-right: 15px;
	}
	
	.pont .vorige {
		float: left;
		background: url(../img/list_arrow_back.png) no-repeat left center;
		padding-left: 15px;
	}






.facet {
    padding: 0 0 15px 0;	
}

	.facet + .facet {
		border-top: 2px solid #dbdbdb;
	}

	.facet h4 {
	    text-transform: capitalize;
	}

	.facet ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.facet li {
		position: relative;
	}

	.facet li a {
		color: #231f20;
		text-decoration: none;
		padding-left: 23px;
		display: block;
	}
	
	.facet li .hitcount {
		color: #888;
		padding-left: .25em;
	}


	.facet li > a::before {
	    background: none repeat scroll 0 0 #fff;
	    border: 1px solid #a5a5a6;
	    content: "";
	    display: block;
	    height: 13px;
	    left: 0;
	    position: absolute;
	    top: 1px;
	    width: 13px;
	}	
	
	.facet li > a:hover::before {
		border-color: #bc0031;
	}
	
	.facet li a:hover, .facet li a:hover .meta {
		color: #bc0031;
	}
	
	.facet li.collapse a { color: #bc0031 }
	.facet li.collapse > a::before {
		background: url("../img/filter_check.gif") no-repeat scroll -1px -1px #bc0031;
		border-color: #bc0031;
	}
	
	
	.facet .meta {
		color: #999;
	}
	
	.facet .meta::before { content: " ("; }
	.facet .meta::after { content: ")"; }
	
	
.detail .pont {
	background: none repeat scroll 0 0 #eee;
	margin-bottom: 1em;
	overflow: auto;
	padding: 8px 15px;
	text-align: center;
}

.detail .addto {
	cursor: pointer;	
}	

	.detail .addto .fa-square-o::after, .detail .addto .fa-check-square-o::after {
		margin-left: 5px;
		font-family: "MetaWeb",Arial,sans-serif;
		font-size: 90%;
		color: #333;
	}
	.detail .addto .fa-square-o::after {
		content:"add to my selection";
		color: green;
	}
	.detail .addto .fa-check-square-o::after {
		content:"remove from my selection";
		color: #bc0031;
	}

.detail .navlinks {
	float: right;
	font-size: 90%;
	margin-left: 1em;
}

.detail #disclaimer {
	background: #eee;
	color: #333;
	padding: 5px 10px;
}


.detail .dochits {
    background: rgba(0, 0, 0, 0) url("../img/list_arrow_down.png") no-repeat scroll right 5px;
    color: #666;
    cursor: pointer;
    float: right;
    font-weight: normal;
    padding-right: 20px;
}

.detail .embargo-txt {
    color: #666;
    font-weight: normal;
}


.detail dl {
	clear: both;
}

.detail dt {
	float: left;
	clear: left;
	width: 23%;
	display: inline-block;
	padding: 5px 0 0 0;
}
	
.detail dd {
	clear: right;
	color: #231f20;
	width: 77%;
	display: inline-block;
	padding: 5px 0 0 0;
}

	.detail dd a {
		color: #231f20;
	}
	
.detail .has-dai {
	margin-left: .5em;
	color: #999;
	cursor: help;
}	

.detail .hilight {
	background: none;
	color: #e50;
	font-weight: bold;
}


.downloadlist ul {
	list-style: none;
	padding: 0;
}

	.downloadlist ul li h4 {
		border-bottom: solid 1px #ccc; 
		padding: 0 20px 5px 0;
		margin-top: 0;
	}	

	.downloadlist ul li h4 a {
		padding: 0;	
		text-decoration: none;
	}
	
	.downloadlist li {
		margin-bottom: 10px;
	}
	
	.downloadlist li div {
		display: none;
	}
	
	.downloadlist .downloadurl, .downloadlist .embargo {
		float: left;
	    clear: left;
		margin-right: .5em;
		font-size: 90%;
	}
		.downloadlist .downloadurl a {
		    color: #006;
		    text-decoration: none;
		}   
	
		.downloadlist .downloadurl::before {
			/*content: 'download: ';*/
			margin-right: .5em;
			color: #666;
		}

	.downloadlist .small {
		color: #666;
	    font-size: 90%;
	    clear: left;
	}
	
	.downloadlist .summary {
		margin: 1em 0 2em;	
	}
	
	.downloadlist .summary li {
	    font-size: 90%;
	    color: #444;
	    line-height: 1.2em;
	}

	.downloadlist .summary li::after {
		content: '\2026';
	}
	
	.downloadlist .summary li::before {
		content: '\2026\00a0';
	}
	
	
#search-form {	
}	

	#search-form .form-row {
	}	
	
	#search-form .form-row input {
    	width: 90%;
	}
	
	#search-form .form-row input[type="checkbox"] {
		width: auto;
		margin-right: 10px;
	}
	
	#search-form .form-row input[type='submit'] {
		width: 208px;
		padding: 5px 0;
	}	
	
	#search-form .form-row div {
	    display: inline-block;
	    vertical-align: top;
	    padding: 10px 0;
	    width: 25%;	
	}	

		#search-form .form-row div.form-cell-1 {
		}	
		#search-form .form-row div.form-cell-2 {
		}	
		#search-form .form-row div.form-cell-3 {
		}	
		#search-form .form-row div.form-cell-2-3 {
			width: 50%;
		}	

	#search-form ul.document-type {
		list-style-image: none;
	    border-color: #ccc;
	    border-style: solid;
	    border-width: 1px;
	    height: 200px;
	    list-style-image: none;
	    overflow-y: scroll;
	    padding: 10px;
	}
	
.downloadlist img {
    display: inline;
    margin: 0;
}
.full-text {
    height: auto;
}    
.short-text {
    height: 100px;
    overflow: hidden;
}
.remark {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fffecb;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    padding: 5px;
}
.public:hover .remark,
.public:focus .remark {
       display: block;
}
.public {
    cursor: pointer;
    padding-left: 7px;
}
.altmetric-embed-wrapper {
    padding-left: 10px;
    padding-top: 10px;
}